*{
  box-sizing: border-box;
}

html{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  width: 100%;
  line-height: 1.4;
}

body{
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;


}

nav a:hover{
  color: rgb(102, 205, 170);
}

nav li{
  border-bottom: 1px solid #fff;
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;

}


#header {
  background-color: rgb(40, 44, 52);
}
/* Das ist ein Kommentar in CSS */
.wrapper{

}

img{
  width: 100%;
  display: block;
}

#logo{
  width: 2em;
}



@media (min-width: 48em) {
  #logo{
    width: 2em;
    float: left;
    margin-top: 12.5px;
  }

  nav li{
    float: left;
    margin-right: 1em;
    border-bottom: none;
  }

  nav ul{
    float: right;
    margin-top: 19px;
  }

  #header{
    height: 4em;
  }

  .wrapper{
    width: 90%;
    margin: auto;
  }
}
